@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  background-color: hsl(207, 26%, 17%); 
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 98%);
  margin-bottom: 50px;
}
.logo {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  font-weight: bold;
}

.themeBtn {
  background: none;
  border: none;
  color: hsl(0, 0%, 98%);;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;
}

.themeBtn i {
  margin-right: 10px;
}

.themeBtn:hover {
  border-radius: 5px;
  background-color: hsl(208, 23%, 31%);
}

section {
  padding: 0 80px;
}

.tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 450px;
  height: 50px;
  padding: 0 20px 0 60px;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
}

.search-box input:hover {
  background-color: hsl(208, 23%, 31%);
}

.search-box input:focus {
  outline: none;
  background-color: hsl(208, 23%, 31%);
}

.search-box input::placeholder {
  color: #ffffffab;
}

.searchBtn {
  height: 100%;
  background: none;
  border: none;
  position: absolute;

  left: 25px;
}

.searchBtn i {
  font-size: 16px;
  color: hsl(0, 0%, 98%);;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fillter-box select {
  width: 200px;
  height: 50px;
  padding: 0 20px;
  color: hsl(0, 0%, 98%);;
  border: none;
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
  cursor: pointer;

  /* arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px top 50%, 0 0;
  background-size: 20px auto, 100%;
}

.fillter-box select:hover {
  background-color: hsl(208, 23%, 31%);
}

.fillter-box select:focus {
  outline: none;
  background-color: hsl(208, 23%, 31%);
}


.CountriesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
}

.country-box {
  width: 100%;
  height: 100%;
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  margin-bottom: 50px;
  /* box-shadow: inset 0 0 0 1px hsl(209, 23%, 22%); */
  cursor: pointer;
  transition: all 0.3s ease;
  /* text-decoration: none; */
}

.country-box:hover {
  transform: scale(1.025);
  background-color: hsl(208, 23%, 31%);
}

.country-box img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.country-info {
  padding: 20px 20px 0 20px;
  color: hsl(0, 0%, 98%);
}

.country-info h4 {
  margin-bottom: 15px;
}

.country-box p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}
.country-box span {
  font-weight: bold;
}

/* Loading */
.is-list-loading {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  margin-bottom: 100px;
}

.loading-element .img {
  height: 160px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  border-radius: 5px 5px 0 0;
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}
.loading-info {
  border-radius: 0 0 5px 5px;
  padding: 20px 20px 0 20px;
  height: 190px;
  background-color: hsl(209, 23%, 22%);
}
.loading-info h4 {
  height: 20px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  margin-bottom: 25px;
  border-radius: 3px;
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}
.loading-info p {
  height: 15px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  border-radius: 3px;
  margin-bottom: 10px;
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}
@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Country page */

.btnBack {
  display: inline-block;
  border: none;
  color: #ffffffab;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  padding: 10px 40px;
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  box-shadow: 0 0 10px 2px hsl(208, 25%, 12%);
  margin-bottom: 50px;
  text-decoration: none;
}

.btnBack i {
  margin-right: 10px;
}

.btnBack:hover {
  background-color: hsl(208, 23%, 31%);
}

.countryDetail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.countryDetail img {
  height: 100%;
  object-fit: cover;
  width: 45%;
}
.countryDetailInfo {
  color:hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
.countryDetailInfo h1 {
  margin-bottom: 25px;
  font-size: 30px;
}
.countryDetailInfoList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.countryDetailInfoList p{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}
.countryDetailInfoList span {
  font-weight: 600;
} 
.countryDetailInfoListCol1 {
  margin-right: 25px;
}
.borderCountries {
  width: 100%;
  font-size: 14px;
}
.borderCountries span {
  margin-right: 10px;
  font-weight: 600;
}
   
.btnBorderCountry {
  font-size: 14px;
  padding: 4px 20px;
  border-radius: 2px;
  border: none;
  color: #ffffffab;
  background: hsl(209, 23%, 22%);
  box-shadow: 0 0 10px 2px hsl(208, 25%, 12%);
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btnBorderCountry:hover {
  background: hsl(208, 23%, 31%);
}
/* Loading Detail */
.loadingDetail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.loadingDetail .img {
  width: 45%;
  height: 350px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}
.loadingCountryInfo {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loadingCountryInfo h1 {
  width: 200px;
  height: 30px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  margin-bottom: 35px;
  border-radius: 3px;
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}
.LoadingCountryInfoList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.LoadingcountryInfoListCol p {
  width: 200px;
  height: 15px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  border-radius: 3px;
  margin-bottom: 15px;
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}
.LoadingBorderCountries p{
  width: 200px;
  height: 15px;
  background: linear-gradient(110deg, hsl(208, 23%, 31%) 8%, hsl(207, 23%, 41%) 18%, hsl(208, 23%, 31%) 33%);
  border-radius: 3px;
  margin-bottom: 15px;
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}

/*  */
.footer {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 98%);;
}

/* break point 375px */
@media screen and (max-width: 375px) {
  .nav {
    padding: 0 15px;
  }
  section {
    padding: 0 15px;
  }
  .tools {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .search-box input {
    width: 80%;

  }
  .fillter-box {
    margin-top: 40px;
  }
  .fillter-box select {
    width: 50%;
  }
  .CountriesList {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .country-box {
    /* width: 50%; */
  }
  .country-box img {
    height: 180px;
  }
  /* loading mobile */
  .is-list-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loading-element {
    width: 100%;
  }
  .loading-element .img {
    height: 180px;
  }
  /* Country Detail */
  .countryDetail {
    flex-direction: column;
  }
  .countryDetail img {
    width: 100%;
    margin-bottom: 40px;
  }
  .countryDetailInfo {
    width: 100%;
  }
  .countryDetailInfoList {
    flex-direction: column;
  }
  /* Loading detail */
  .loadingDetail {
    flex-direction: column;
  }
  .loadingDetail .img {
    width: 100%;
    margin-bottom: 40px;
  }
  .LoadingCountryInfoList {
    flex-direction: column;
  }
}